.logo {
    position: absolute;
    left: 290px;
    top: 40px;
    fill: #FF6060;
}
@media only screen and (max-width: 767px) {
    .logo {
        width:165px;
        top: 20px;
        left: 20px;
    }
  }
