.footer {
    color: white;
    width: 100%;
    height: 210px;
    background: #000;
    display: block;
    position: relative;
    margin-top: 2em;
}

.logo {
    fill: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    top: 66px;
    width: 125px;
    height: 40px;
}

.copyright {
    width: 100%;
    display: block;
    text-align: center;
    position:relative;
    top: 90px;
    font-size: 24px;
}
@media only screen and (max-width: 767px) {
    .copyright {
        font-size: 12px;
    }
  }
